@import "../_global/global.scss";

$tray-height:20px;
$tray-color:transparent;

.tray{
  position: relative;
  height: $tray-height;
  background-color: $tray-color; 
}

.progress{
  position: absolute;
  top:0;
  left:0;
  right:100%;
  bottom: 0;
  background-color: $control-color;
}
.progress_text{
  position: absolute;
  color:$text-color-dark;
  right: 0;
  top:0;
  padding-top:1px;
  padding-right:5px;
  user-select: none;
}
.dots{
  position: absolute;
  right: 0px;
  overflow: hidden;
  height: $tray-height;
  width: $tray-height;
  background-color:$control-color;
  border-radius: 50%;
  transform: scale(.7)translateY(3px)translateX(30px)
}