.wrapper {
    overflow: hidden; 
    border-radius: 10px;
}

.tile{
    display: inline-block;
    width: 100%;  
    height: 100%;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    background-color:#555;
    &:hover{
        background-color:#333;
    }
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    
    height: 250px;
}
 
.thumb{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }   
    overflow: hidden; 
    background-color: #222;   
    width: 100%;
    height: 100%;
}

.title{ 
    overflow: hidden;  
    color:#fff;  
    vertical-align: middle; 
    white-space: normal;  
    background-color: #333;
    height: 40px;
    font-size: 12px;
    padding: 5px; 
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

.title_text {
    height: 100%;
    box-sizing: border-box;
} 


.outer_wrapper {
  padding: 10px; 
  box-sizing: border-box;
  margin-bottom: 10px;
  display: inline-block;
  
  text-decoration: none!important;  
}

.relative{
    position: relative;
}

.delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}