%base {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.dim {
  @extend %base;
  background-color: rgba(#000, .6);
}

.transparent {
  @extend %base;
  background-color: rgba(#000,.01);
}

.wide{
  @extend %base;
  background-color: #fff;
}