@import "../_global/global.scss";

.body{
  padding:10px;
  user-select: none;
  &:hover{
    background-color:$control-color;
   
  } 
  &:hover .name, &:hover .address{ 
    color:$text-color-dark;
  }
  cursor: pointer;
} 

.name{
  color:$header-color;
  font-size:16px; 
  cursor: pointer;
}
.address{
  color: $text-color;
  font-size:14px;
  cursor: pointer;
}