@import "../_global/global.scss";

.wraper{
  position: relative;
  display: block;
}
.dropdown{
  position: absolute; 
  left:0;
  right:0;
  top:100%; 
  border: 1px solid $text-color;   
  display: none;
  background-color:#fff; 
  overflow: hidden;
  overflow-y:auto;
  max-height: 300px;
  z-index: 20; 
}
.dropdown_show{
  display: block;
}
.loading_spinner{
  text-align:center;
  padding:30px;
}