@import "../_global/global.scss";

$padding: 10px;
$marginTop: 20px;
 
$borderColor:#E4E4E4;
$borderColorFocus:#535353;
$borderColorError:red;

$fontSize: 16px;
$font: 'Ubuntu','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$placeholderColor:#7D7D7D;
$textColor:#7D7D7D; 
$textColorError:red;

.textbox{
    display: inline-block;
    position: relative;
    padding-top:$marginTop;
    width: 100%;
}
.textbox{
    .input{
        outline: none;
        border:none;
        font-family: $font;
        font-size: $fontSize;
        padding:$padding 0;
        position: relative;
        z-index: 2;
        background-color: transparent;
        //color:$header-color;
        width:100%;
        resize: vertical;
    }
    .line_bottom{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        border-bottom:1px solid $borderColor; 
    }
    .line_focus{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        border-bottom:1px solid $borderColorFocus; 
        transform: scaleX(0);
        transition: transform .3s ease;
    }
    .line_error{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        border-bottom:1px solid $borderColorError; 
        transform: scaleX(0); 
    }
    .placeholder{
        position: absolute;
        left:0;
        right:0;
        bottom:$padding;
        z-index: 1;
        transition: transform .3s ease, color .3s ease;
        font-family: $font;
        font-size: $fontSize;
        color:$placeholderColor;
    }
    .placeholder_top{
        position: absolute;
        left:0;
        right:0;
        top:$padding*3;
        z-index: 1;
        transition: transform .3s ease, color .3s ease;
        font-family: $font;
        font-size: $fontSize;
        color:$placeholderColor;
    }
}
.textbox_focus{ 
    .line_focus{
        transform: scaleX(1);
        transition: transform .3s ease;
    }
}

.placeholder_focus{
    .placeholder{
        transform:translateY(-$marginTop);
        transition: transform .3s ease;
    } 
}

.textbox_error{
    .line_error{ 
        transform: scaleX(1);
        transition: transform .3s ease;
    }
    .placeholder{ 
        color: $textColorError;
        transition: color .3s ease; 
    } 
}