@import "../_global/global.scss";

.tabbtn{
  border:1px solid $window-border-color;
  background-color:$window-color;
  border-radius: 5px 5px 0 0;
  padding:5px 10px; 
  position: relative;
  text-align: center;
  display: inline-block;  
  border-bottom: 1px solid $window-color;
  margin-right: -1px;
  font-weight: 400;
  &:first-child{
    border-left: initial;
    border-top: initial; 
  }
}
.active{
  background-color: $control-color;
  border-bottom-color: $control-color; 
}