.tile{
    display: inline-block;
    width:100%; 
    padding:0 5px;
    text-align: left;
    cursor: pointer;
    background-color:rgb(189, 118, 36);

    &:hover{ 
        background-color:rgb(236, 179, 65);
    }
    white-space: nowrap;
}
 
.thumb{
    width: 60px;
    height: 60px;
 
    overflow: hidden;  
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding-left: 10px;
    margin-right: -10px;
}

.title{ 
    overflow: hidden; 
    font-size:12px;
    color:#fff; 
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px; 
    padding-right: 80px; 
    white-space: normal;
}

.a{
    text-decoration: none;
}