 
.wrapper{
  position: fixed;
  top:0;
  left:0; 
  width: 100%; 
  height: 100%;
  z-index: 1000;   
  text-align: center;  

  opacity: 0;
  transition: opacity .3s ease;

  @media only screen and (max-width: 1024px) {

    height: initial;
    &::before {
      content: '';
      position: fixed;
      z-index: -1;   
      top:0;
      left: 0; 
      width: 100vw;
      height: 100vh; 
    }
  }
}
  
.show {
  opacity: 1;
  transition: opacity .3s ease;
}
