.wrapper{
    width: 250px;
    margin:20px auto;
    text-align: center;   
}

.button{
    margin-top:20px;
    outline: none; 
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    
    background-color:#333;
    border:1px solid #000;
    color:#fff;
    &:active{
        background-color:#408bec;
    }
}

.textbox{
    margin-bottom:10px;
    outline: none;
    padding: 10px;
    border-radius: 5px; 
    border:1px solid #000; 
    background-color:#333;
    color:#fff;
    font-size: 16px;
    &:focus{
        border-color:#408bec;
    }
}