.form_button{
    border:1px solid #262626;
    background-color: #fff;
    color: #262626;
    font-size:14px;
    padding:17px 65px;
    display: inline-block;
    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    &:hover{
      background-color: #262626; 
      color: #fff;
      transition: background-color .3s ease, color .3s ease;
    }
}
 
.disabled{ 
  opacity: .8;
  cursor: default;
  &:hover{
    background-color: #fff;
    color: #262626; 
  } 
}