@font-face {
  font-family: Ubuntu;
  font-display: auto;
  src: local(Ubuntu), url(/static/fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(/static/fonts/ubuntu/Ubuntu-B.ttf);
  font-display: auto;
  font-weight: bold;
}

@font-face {
  font-family: Ubuntu;
  src: url(/static/fonts/ubuntu/Ubuntu-L.ttf); 
  font-display: auto;
  font-weight: 100;
}

@font-face {
  font-family: Tinos;
  src:local(Tinos), url(/static/fonts/tinos/Tinos-R.ttf);
  font-display: auto;
}

@font-face {
  font-family: Tinos;
  src:  url(/static/fonts/tinos/Tinos-B.ttf);
  font-display: auto;
  font-weight: bold;
}