@import "../../components/_global/global.scss";
.text_color{
  color: red;
}
.image{
  width:300px;
  height: 300px;
  object-fit: cover;
  & img{ 
    object-fit: cover;
  }
}

.logout{
  position: fixed;
  top:0;
  right:0;
  background-color:#333;
  border:1px solid #000;
  color:#fff;
  padding:10px 0px;
  width: 40px;
  height: 40px;
  outline: none;
  &:active{
    color:#408bec;
  }
  z-index: 11;
}

.container{ 
  text-align:left;
  padding-top: 10px;
}

.textbox{
  font-size: 14px;
  padding: 0 10px;
  height: 38px;
  width: 180px;
  background-color:#333;
  border:1px solid #000;
  color:#fff;
  outline:none;
}

.button{
  font-size: 14px;
  padding: 0 10px;
  height: 40px;
  background-color:#333;
  border:1px solid #000;
  color:#fff;
  margin-left: -1px;
  &:active{
    background-color:#408bec;
  }
}

.add_bar{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 10;
  background-color: #333;
}

.folder_container{
  margin-top:40px;
}

.new_folder{
  @extend .logout; 
  right:39px;
}

.split3 {
  width: 250px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.main_body {
  padding-right: 60px;
}

.side_bar {
  position: fixed; 
  background-color: #333;
  top: 40px;
  right: 0;
  bottom: 0;
  width: 60px;
  border-right: 1px solid #111;
  overflow: hidden;
}

.side_bar_btn { 
  height: 60px;
  display: block;
  outline: none;
  border: none;
  color: #e5e5e6;
  border-bottom: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: 100%;
}

.side_bar_btn:hover {  
  background-color: #555; 
}

.address_bar {
  position: fixed; 
  background-color: #333; 
  border-bottom: 1px solid #111;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 2;
}

.add_popup { 
  position: relative; 
  margin-top: 50px;
  z-index: 2;
  background-color: #222;
  border-color: #111;
  padding: 20px;
  display: inline-block;
}