@import "../../components/_global/global.scss";

body, html{
    margin:0;
    padding: 0;
    font-family: Tahoma;
    background-color:#444;
    color: $fore-color;
    font-size:16px; 
    letter-spacing: 1px;
    overflow: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, label{
    color:inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    margin:0;
    padding:0;
    display: inherit;
}
h1, h2, h3, h4, h5, h6, div{
    cursor: default;
}

a{
    color: $fore-color;
}