
$break-medium: 1024px;
$break-small: 640px;

@mixin desktop() { 
    @media only screen and (min-width: $break-medium) { @content; }     
}
@mixin tablet() { 
    @media only screen and (max-width: $break-medium) { @content; }     
}
@mixin mobile() { 
    @media only screen and (max-width: $break-small) { @content; }     
}
@mixin blur ($radius) {
	-webkit-filter: blur($radius+px); /* Chrome, Safari */
	-ms-filter: blur($radius+px); /* IE12? */
	filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
	filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}

//Color

$background-color:#314c63;
$window-color:#2f3941;
$window-border-color:#051e36;
$content-color:#4e5c68;
$content-border-color:#051e36;
$fore-color:#e5e5e6;
$control-color:#6c7984;
$control-border-color:#2e3c4b;