.wrapper{
    display: inline-block;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}
.wrapper{
    a{  
        color: #C12126;
        text-decoration: none;
        outline: none;
    } 
} 

.box{ 
    width: 13px;
    height: 13px;
    border:2px solid #C12126; 
    border-radius: 100%; 
    cursor: pointer;
} 

.box_cell{
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
 
.text{
    color:#7D7D7D;
    font-size:16px;
    padding-left: 12px;
    padding-right: 12px; 
    font-weight: 100;
    cursor: pointer;
}
.wrapper:hover{
    .text{
        color:#262626;
    }
}
.toggle{
    .box{  
        border-color: #C12126;
        background-color: #C12126; 
    } 
    .text{
        color:#262626; 
    }
}

.error{
    .text{
        color:red; 
    }
    .box{  
        border-color: red;
    }
}