.ui-widget-content{
  box-shadow:initial!important;
  margin-bottom: 10px;
}
.ui-tabs-nav{
  background-color:#6f7e95!important;
  border-radius: 0!important;
}
.ui-corner-top{
  outline: none!important;
  background-color:transparent!important;
  border:initial!important;
  border-radius: 0!important;
  padding: 0!important;
  margin: 0!important;
}
.ui-corner-top a{
  background-color:transparent!important;
  color:#fff!important;
  outline: none!important;
  cursor: pointer!important;
  border:initial!important;
  border-radius: 0!important;
  padding:6px 20px!important;
}
.ui-tabs-active{
  padding: 0!important;
  margin: 0!important;
  margin-top:2px!important;
  background-color:#fff!important;
}
.ui-tabs-active a{ 
  background-color:#fff!important;
  color:#6f7e95!important;
  padding:6px 20px!important;
  font-weight: bold; 
  cursor: default!important;
}