.logo-container{
  text-align: center;
}
.login-logo{
  font-weight: bold;
  font-size: 20px;
  color:#000;
  padding-top:3px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
} 
.login-logo::after{
  content: 'Administration';
  position: absolute;
  bottom:5px;
  right:-120%;
  font-size: 14px;
  font-weight: 400;
  text-transform: initial;
} 
.colM{
  padding:60px 30px!important;
}
body{
  background-color: #ecf2f6!important;
}
label{ 
  color: #4c596b;
}
input[type=text], input[type=password]{ 
  border-color: #7e91ac;
}
input[type="submit"]{
  font-weight: 400!important;
  font-size: 14px!important;
  cursor: pointer;
}