.branding-title{
  font-weight: bold;
  font-size: 16px;
  color:#fff;
  padding-top:3px;
}
.dashboard-tools{
  display: none;
}
.sidebar-section:first-child{
  display: none!important;
}
.link-item{
  font-size:13px!important;
  letter-spacing: 2px;
}