.wrapper{
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.wrapper{
    a{  
      color: #C12126;
      text-decoration: none;
      outline: none; 
    }

} 
.box{ 
    width:21px;
    height: 21px;
    border:1px solid #7D7D7D;
    position: relative;
} 

.box_cell{
    width:0.1%;
}

.checkmark{
    position: absolute;
    top:0;
    left:1px;
    width:20px;
    height:20px;
    background-image:url('/static/checkmark.png');
    display: none;
}
.cell_text{  
    &>*{ 
      cursor: pointer;
    }
}

.text{
    color:#7D7D7D;
    font-size:16px;
    padding-left: 12px;
    display: inline-block;
}
.wrapper:hover{
    .box{  
        border-color: #C12126;
    }
}
.toggle{
    .box{  
        border-color: #C12126;
    }
    .checkmark{ 
        display: block;
    }
}

.error{
    .text{
        color:red; 
    }
    .box{  
        border-color: red;
    }
}