{% extends "admin/base.html" %}
{% block extrahead %} 
  {{ block.super }}
  <link rel="stylesheet" href="/static/fontawesome5/css/all.css" >
  <link rel="stylesheet" href="/static/jquery/jquery-ui-1.12.1/jquery-ui.min.css">
  

  <script src="/static/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="/static/jquery/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
{% block usertools%}  
  {{ block.super }}
  <script>
    function createMenuEntry(text, icon, url){
      $('.sidebar-section').first().append('<a href="'+url+'" class="sidebar-link icon link-item"><span class="sidebar-link-label"><span class="'+icon+'"></span> '+text+'</span></a>'); 
    }
    function clearMenuItems(){ 
      $('.sidebar-section').first().children(".sidebar-link").remove() 
      $('.sidebar-section').css("display", "block");
    }
    $(function(){
      $("#site-name").html('<div class="branding-title">   SNW</div>') 
      clearMenuItems();
      createMenuEntry("Home", "fa fa-home", "/")
    }) 
      
  </script> 

{% endblock %}

{% block footer%}  
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/admin/sidebar.css">
  <link rel="stylesheet" href="/static/css/admin/general.css">
   
{% endblock %}
{% block sidebar%}  
  
{% endblock %}