{% extends "admin/login.html" %}
 
{% block content%}  
  <link rel="stylesheet" href="/static/css/admin/login.css">
  <div class="logo-container">
    <div class="login-logo">SNW</div>
  </div>
  {{ block.super }}
{% endblock %}